@import "tailwindcss";

@theme {
  --color-black:   #09090b;
  --color-black2:  #111113;
  --color-black3:  #18181b;
  --color-black4:  #0c0c0e;
  --color-red:     #ef4444;
  --color-orange:  #f97316;
  --color-grey:    #71717a;
  --color-lgrey:   #a1a1aa;
  --font-heading: 'Bebas Neue', sans-serif;
  --font-body:    'Inter', sans-serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: #09090b;
  color: #fafafa;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #27272a; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #3f3f46; }
